 /* .banner{
    
    color: white;
    object-fit: contain;
    height: 478px;  
    

} */


.content{
    padding-top: 120px;
    height: 190px;
    padding-left: 18px;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.button{
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: rgba(51, 51,51, .7);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    
}

.button:hover{
    color: black;
    background-color: #e6e6e6;
}

.description{
    width: 45rem;
    line-height: 1.3rem;
    font-size: 1rem;
    padding-top: 1rem;
    max-width: 360px;
}
.fade{
    height: 15.6rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37),#111);
} 















.banner {
    color: white;
    background-size: cover; /* Ensure the image covers the banner */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 478px;  
    /* Make sure you provide the correct path */
}
